<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UserPageFilenames</key>
	<array>
		<string>7F67303C-3C92-4D32-9D0A-810EA0CEE6BF.playgroundpage</string>
		<string>3F6D0610-D8A8-427A-9EF5-FD0125887C1E.playgroundpage</string>
		<string>AB11C519-B8FB-4359-BA38-15091A9F073E.playgroundpage</string>
		<string>873AB4A7-D996-47C7-A5B0-C33A8C7E8E95.playgroundpage</string>
		<string>3AAC9527-CB63-4E1B-B2C6-D23BA1F7EE71.playgroundpage</string>
		<string>D82297B8-8731-46BC-ABF0-25AB82A386D4.playgroundpage</string>
	</array>
</dict>
</plist>
